<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"
>
    <system>
        <section
            id="siteation_share"
            translate="label"
            type="text"
            sortOrder="120"
            showInDefault="1"
            showInWebsite="1"
            showInStore="1"
        >
            <label>Share</label>
            <tab>catalog</tab>
            <resource>Magento_Config::share</resource>
            <group
                id="share"
                translate="label"
                type="text"
                sortOrder="1"
                showInDefault="1"
                showInWebsite="1"
                showInStore="1"
            >
                <label>Enable Share</label>
                <field
                    id="enabled"
                    translate="label"
                    type="select"
                    sortOrder="1"
                    showInDefault="1"
                    showInWebsite="1"
                    showInStore="1"
                    canRestore="1"
                >
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
